<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <h1 class="header">Simple Node Express MongoDB Star-Wars app..</h1>

    <section class="add-quote flex-container">
      <h2>Add quote</h2>

      <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" class="input"/>
        <input type="text" placeholder="quote" name="quote" class="input"/>
        <button type="submit">Submit</button>
      </form>
    </section>

    <section class="update-quote flex-container">
      <div>
        <h2>Cebo Mthor invades!</h2>
        <p>
          Replace first Zipho's quote with a quote written by Darth Vadar
        </p>
        <button id="update-button">Replace Zipho's quote</button>
      </div>
    </section>

    <section class="delete-quote flex-container">
      <div>
        <h2>Remove Cebo Mthor!</h2>
        <p>
          Delete one Cebo Mtho quote. Does nothing if there are no more
          Cebo Mthor quote
        </p>
        <button id="delete-button">Delete Cebo Mtho quote</button>
      </div>
      <div id="message"></div>
    </section>

    <section class="section">
      <h2>Quotes</h2>

      <ul class="quotes">
        <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <span><%= quotes[i].name %></span>:
          <span><%= quotes[i].quote %></span>
        </li>
        <% } %>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>